@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('./fonts/roboto-v20-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/roboto-v20-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */ url('./fonts/roboto-v20-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('./fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/roboto-v20-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/roboto-v20-latin-500.woff')
			format('woff'),
		/* Modern Browsers */ url('./fonts/roboto-v20-latin-500.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/roboto-v20-latin-500.svg#Roboto')
			format('svg'); /* Legacy iOS */
}
/* jura-regular - latin */
@font-face {
	font-family: 'Jura';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/jura-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('./fonts/jura-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/jura-v15-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/jura-v15-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */ url('./fonts/jura-v15-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/jura-v15-latin-regular.svg#Jura')
			format('svg'); /* Legacy iOS */
}
/* jura-700 - latin */
@font-face {
	font-family: 'Jura';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/jura-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('./fonts/jura-v15-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/jura-v15-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/jura-v15-latin-700.woff')
			format('woff'),
		/* Modern Browsers */ url('./fonts/jura-v15-latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/jura-v15-latin-700.svg#Jura')
			format('svg'); /* Legacy iOS */
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body {
	/* color: #1a202c; */
	color: #1f2237;
	font: 'Roboto';
	font-weight: 400;
}

.about:hover span {
	display: none;
}

.about:hover::before {
	content: 'アバウト';
}

.projects:hover span {
	display: none;
}

.projects:hover::before {
	content: 'プロジ ェクト';
	/* letter-spacing: 0.5em; */
}

.contact:hover span {
	display: none;
}

.contact:hover::before {
	content: 'コンタクト';
}

.blog:hover span {
	display: none;
}

.blog:hover::before {
	content: 'ブログ';
}

.menu:hover span {
	display: none;
}

.menu:hover::before {
	content: 'メニュー';
}

.japanese__heading {
	writing-mode: vertical-lr;
	text-orientation: upright;
}
