@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body {
	/* color: #1a202c; */
	color: #1f2237;
}

.about:hover span {
	display: none;
}

.about:hover::before {
	content: 'アバウト';
}

.projects:hover span {
	display: none;
}

.projects:hover::before {
	content: 'プロジ ェクト';
	/* letter-spacing: 0.5em; */
}

.contact:hover span {
	display: none;
}

.contact:hover::before {
	content: 'コンタクト';
}

.blog:hover span {
	display: none;
}

.blog:hover::before {
	content: 'ブログ';
}

.menu:hover span {
	display: none;
}

.menu:hover::before {
	content: 'メニュー';
}

.japanese__heading {
	writing-mode: vertical-lr;
	text-orientation: upright;
}
